services:
  db:
    container_name: postgresql
    image: postgres:18-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-myproject}
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  web:
    container_name: django
    build:
      context: .
      target: ${APP_ENV:-development} 
      args:
        - HOST_UID=${UID-1000}
        - HOST_GID=${GID-1000}
    volumes:
      - .:/app
    user: "${UID:-1000}:${GID-1000}"
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER:-postgres}:${POSTGRES_PASSWORD:-postgres}@db:5432/${POSTGRES_DB:-myproject}
      DJANGO_SETTINGS_MODULE: config.settings
      DEBUG: "True"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network

  vite:
    container_name: vite
    image: oven/bun:1-alpine
    working_dir: /app
    command: sh -c "bun install && bun run dev"
    volumes:
      - .:/app
      - /app/node_modules 
    ports:
      - "5173:5173"
    environment:
      - NODE_ENV=development
    networks:
      - app-network


volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge